* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* prevents horizontal scroll */
}

.articles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  text-align: center;
  overflow-x: hidden; /* double protection */
  line-height: 30px;
}
h1{
    margin-bottom: 30px;
    margin-top: 20px;
}
